/* Fonts */
@font-face {
    font-family: 'OpenSansLight';
	src: url('../fonts/OpenSans-Light.ttf') format('truetype'),
		 url('../fonts/OpenSans-Light.woff') format('woff');
}
@font-face {
    font-family: 'OpenSansLightItalic';
	src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype'),
		 url('../font/OpenSans-LightItalic.woff') format('woff');
}


/* Reset */
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'OpenSansLight', sans-serif;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
p {
	padding: 0;
	margin: 0;
}
a,
a:visited,
a:active,
a:focus {
	/*color: #fff;*/
	text-decoration: none;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
}
.sections {
	background-color: #f5f5f5;
	color: gray;
	padding: 100px;
}
.section {
	width: 554px;
	position: relative;
	margin: 0 auto;
	border: 1px solid #cfcfcf;
	background-color: #fff;
	box-shadow: 0px 10px 30px 2px #c5c5c5;
}
.section:after {
	content: '';
	display: block;
	width: 552px;
	height: 12px;
	background: url('../img/box-bottom-bg-2.png') 0 0 scroll no-repeat;
	position: absolute;
	bottom: -12px;
	left: 0;
}
.section__inner {
	width: 552px;
	margin: 0 auto;
}
.section__inner_counter {
	padding: 10px 15px;
}
.section__title {
	margin: 0;
	font-size: 100px;
	font-weight: normal;
	text-align: center;
	color: #ead7d8;
}
.section__list,
.list__item {
	background-color: #ffffff;
}
.list {
	width: 100%;
	margin: 0;
	font-size: 20px;
}
.list__item-main,
.list__item {
	line-height: 60px;
	border-bottom: 1px solid gray;
	position: relative;
}
.list__item-main-icon {
	font-size: 24px;
	position: absolute;
	top: 19px;
	left: 13px;
}
.list__item-main-title {
	margin-left: 57px;
	font-family: 'OpenSansLightItalic', sans-serif;
}
.list__sub-list {
	border-top: 1px solid gray;
}
.list__sub-list .list__item {
	padding: 0 5px 0 57px;
}
.list__checkbox-input {
	opacity: 0;
	width: 19px;
	height: 19px;
	position: absolute;
	top: 19px;
	left: 5px;
}
.list__icon {
	font-size: 32px;
	display: block;
	position: absolute;
	top: 15px;
	font-weight: normal;
}
.list__icon_unchecked,
.list__icon_checked {
	left: 5px;
}

.list__icon_unchecked {
	display: block;
}
.list__icon_checked {
	display: none;
	color: #6ec9ba;
}
.list__icon_delete {
	color: #c20;
	right: 5px;
	display: none;
}
.list__item:hover * {
	cursor: pointer;
}
.list__item:hover .list__icon_delete {
	display: block;
}
.list__item:hover .list__checkbox-input:checked ~ .list__icon_delete {
	display: none;
}
.list__checkbox-input:checked  ~ .list__icon_unchecked {
	display: none;
}
.list__checkbox-input:checked  ~ .list__icon_checked {
	display: block;
}
.list__checkbox-input:checked  ~ .list__item-label {
	text-decoration: line-through;
}
.list__input-inner {
	padding: 2px;
	border: 1px solid gray;
}
.list__input-field {
	width: 496px;
	margin-left: 40px;
	padding: 20px;
	font-size: 20px;
	box-shadow:10px 10px 50px 20px grin inset;	
}

.item-counter {
	display: block;
	float: left;
	width: 30%;
	padding: 5px 0;
}


.menu {
	display: table;
	width: 70%;
	float: right;
}
.menu__list {
	display: table-cell;
}
.menu__list_left {
	width: 60%;
	text-align: left;
}
.menu__list_right {
	width: 40%;
	text-align: right;
}
.menu__item {
	font-size: 16px;
	display: inline-block;
	color: gray;
	height: 30px;
}
.menu__item:last-child {
	margin-right: 0;
}
.menu__link:hover {
	cursor: pointer;
	border: 1px solid gray;
	border-radius: 2px;
	padding: 5px;
	text-decoration: none;
}
.menu__btn {
	display: inline-block;
	text-align: center;
	padding: 4px;
	border: 1px solid transparent;
	background-color: transparent;
}

.menu__btn:hover {
	border: 1px solid #eb6;
	border-radius: 3px;
}